:root {
    --primary: #fff;
}

.btn {
    font-family: 'Roboto';
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background: var(--primary);
    color: #242424;
    border: 2px solid var(--primary);
}

.btn--secondary {
    background: transparent;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--primary);
    transition: all 0.3s easy-out;
}

.btn--medium {
    padding: 0.5rem 1.5rem;
    font-size: 1em;
}

.btn--large {
    padding: 0.8rem 2rem;
    font-size: 1.5em;
}

.btn--medium:hover,
.btn--medium:focus,
.btn--large:hover,
.btn--large:focus {
    background: var(--primary);
    color: #242424;
    transition: all 0.3s easy-out;
}